# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.bpdv3.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Game Dev\GameJams\BeatsPerDeathNew\bpdv3\.idea\.idea.bpdv3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
